@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<head>
    <title>Sobre</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h2 class="text-center">Gabriel Medeiros Ramos - Analista de sistemas e Desenvolvedor C#</h2>
        <br/>

        <h3 class="text-justify">Um pouco sobre mim:</h3>
        <hr/>
        <p class="text-justify">
            Nesses anos de experiência profissional, decidi passar por diversas
            áreas de conhecimento a fim de encontrar um propósito. Além
            das experiências citadas no perfil (tecnologia, vendas, marketing,
            administração, design de interiores), tive a oportunidade de trabalhar
            nos setores de turismo e alimentação. Sou grato por cada lugar que
            passei e pelos conhecimentos que adquiri, sempre estando ao lado
            de pessoas incríveis que puderam agregar muito na minha jornada.
            Atualmente, vejo com clareza que a área de TI é o meu lugar, é
            onde quero estar. Em função disso, retornei ao curso de Análise e
            Desenvolvimento de Software para me aprofundar ainda mais nos
            conhecimentos da área, principalmente no que tange a programação
            e análise de dados.
        </p>
    </div>
</div>
</body>