@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Página inicial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Projeto ASP.NET Core</h1>
            <h2 class="text-center">Gabriel Ramos - Desenvolvedor Back-end</h2>
        </div>
        <hr class="m-y-md">
        <p>Para mais informações, acesse meu perfil do LinkedIn!</p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/gabrielmedeirosramos/" target="_blank" role="button"><span class="glyphicon glyphicon-briefcase"></span> LinkedIn</a>
        </p>
    </div>
</body>
